.menu,
.content,
.container,
.row-div {
    display:flex;
}

.menu {
    justify-content: center;
    gap: 100px;
}
button {
    align-self: center;
}

.content {
    justify-content: center;
}

.container {
    width: 500px;
    height: 500px;
    flex-direction: column;
}

.row-div {
    flex: 1 1 auto;
}

.square-div {
    flex: 1 1 auto;
    width: auto;
    height: auto;
    background-color: rgb(247, 247, 247);
}

.inked {
    background-color: black;
}