.container,
.row-div {
    display:flex;
}

.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.square-div {
    width: 20px;
    height: 20px;
    background-color: blue;
}

.inked {
    background-color: black;
}